<html>
	<head>
		<title>Welcome to ShareIt</title>
	</head>
<body>

<div class="container-fluid">


<div class="well container">
<%= @all_follower.each do |f| %>
<%= f.firstname %>
<% end %>

</div>





</div>	
</body>
</html>
