<html>
	<head>
		<title>Welcome to ShareIt</title>
	</head>
<body>

<div class="container-fluid">

<h1> Your Followers </h1>

<div class="well">
	
<h3><%= following.firstname %></h3> 

</div>

</div>



</body>
</html>
