/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face
{
font-family: Bad Script;
src: url('http://fonts.googleapis.com/css?family=Bad+Script') ;
}

@font-face
{
	font-family: Grand Hotel;
	src: url('http://fonts.googleapis.com/css?family=Grand+Hotel');
}



.nav_logo
{
float: left !important;
display: block!important;
padding: 10px 20px 10px!important;
margin-left: -20px!important;
font-size: 40px!important;
font-weight: 200!important;
color: white!important;
background-color: #593F51;
font-family: Grand Hotel;
}

.logo_font
{
	font-size: 70px;
	font-family: Grand Hotel;
}






