<html>
	<head>
		<title>ShareIt</title>
	</head>
	<body>
		
<div class=" container-fluid ">

<div class="row">
	
<div class="well span2">

<h2><%= link_to @follower.firstname,user_home_path %></h2>
	
	
	
	
</div>
</div>
</div>

</body>	
</html>
