<html>
	<head>
		<title>ShareIt</title>
	</head>
	<body>

<div class="container-fluid">
		
<ul>


<div  class="well">
<li>
<h2 style="font-family: 'Rum Raisin', sans-serif;"><%=  @users_post.title %></h2></li>
<br/>
By: <li><%= @user.firstname %></li>
</br>
<li><%= @users_post.data %></li>
</br>
Tags:<li><%= @users_post.tag %>	</li>
<li>
<hr/>
</li>	
</div>


</ul>
		
</div>



</body>	
</html>
