<html>
	<head>
<title>Welcome to ShareIt</title>

<!-- google web fonts -->
<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified CSS -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

 
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
 
</head>
	
<body id="home">

<div class="container-fluid">

<div class=" pull-right">
<%= button_to 'Login to ShareIt', login_path, { :type => 'submit', :class => 'btn btn-success btn-large', :method => :get } %>
</div>





<div style="background-color: #593F51;" class=" hero-unit"><br />
<h1 style=" color: white; text-align: center; font-size: 100px; font-family: 'Grand Hotel', cursive;">ShareIt</h1>
<h3 style=" color: white; text-align: center;">
Share your Favourite Pages with Friends</h3>
<div align="center" class=" container " style=" color: white; font-size: 30px; text-align: center;"><br />
<%= button_to 'SignUp to create new account', signup_path , { :type => 'submit', :class => 'btn-lg btn-block btn btn-success btn-large', :method => :get } %>
<br />
<%= link_to 'All post', post_home_path %><br />
</div>

</div>

</div>




<div class="row">

	<div class="well span3">
	<strong>Share  Interesting Pages</strong>
	</div>
	
	<div class="well span3">
	<strong>Like and comment for your favourite Pages/Links</strong>
	</div>
		
	<div class="well span3">
	<strong>Like and comment for your favourite Pages/Links</strong>
	</div>
	
	<div class="well span3">
	<strong>Like and comment for your favourite Pages/Links</strong>
	</div>

</div>


</body>
</html>

