<!-- all categories -->
<div id="all_cat" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="all_catLabel" aria-hidden="true">
  <div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="all_catLabel">All Categories</h3>
  </div>
  <div class="modal-body">
<%= render :template =>  '/category/index.html.erb' %>
  </div>
</div>