<html>
	<head>
<title>Welcome to ShareIt</title>

<!-- Latest compiled and minified CSS -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
 
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

 	</head>
	
	<body>
<div class="container-fluid row-fluid">

<div style="background-color: #593F51;" class=" hero-unit">
	<br />
<h1 style=" color: white; text-align: center; font-size: 100px; font-family: 'Grand Hotel', cursive;
 ">Welcome to ShareIt</h1>
<h3 style=" color: white; text-align: center;"> Share your Favourite Pages with Friends</h3>
<div align="center" class=" container " style=" color: white; font-size: 30px; text-align: center;">
<br />
<%= button_to 'SignUp to create new account', signup_path , { :type => 'submit', :class => 'btn-lg btn-block btn btn-success btn-large', :method => :get } %>
<br />
OR
<br />
<%= button_to 'Login to ShareIt', login_path, { :type => 'submit', :class => 'btn btn-success btn-large', :method => :get } %>


<%= link_to 'All post', post_home_path %><br />
</div>

</div>

</div>




<div class="" style=" display: inline; ">
	<div class="well span4">
		<strong>Share  Interesting Pages</strong>
	</div>
	
	<div class="well span3">
		<strong>Like and comment for your favourite Pages/Links</strong>
	</div>
		
	<div class="well span3">
		
	</div>
	
	<div class="well span3 ">
	
	</div>

</div>


















</body>
</html>

