// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
width: 100% !important;
}

ul
{
  list-style-type: none !important;
}

.span
{
  margin-left: 0px !important;
}

.top_style
{
  margin-top: 20px !important;
}
